pipeline/Project1.json
{
	"name": "Project1",
	"properties": {
		"activities": [
			{
				"name": "lastload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from watertable",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CarsSqlSink",
						"type": "DatasetReference",
						"parameters": {
							"table": "watertable"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "currentload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max (Date_ID) as maxdate from source_cars_data;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CarsSqlSink",
						"type": "DatasetReference",
						"parameters": {
							"table": "source_cars_data"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "IncrementalData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lastload",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "currentload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from source_cars_data where Date_ID > '@{activity('lastload').output.value[0].last_load}' AND Date_ID <= '@{activity('currentload').output.value[0].maxdate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CarsSqlSink",
						"type": "DatasetReference",
						"parameters": {
							"table": "source_cars_data"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DataSetCarsBronze",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronzecontainer",
							"folder": "cars"
						}
					}
				]
			},
			{
				"name": "UpdateWaterMarkTable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updatewatermarktable]",
					"storedProcedureParameters": {
						"lastload": {
							"value": {
								"value": "@activity('currentload').output.value[0].maxdate",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}